/*start roll*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #f6eacb;
  color:#7d445b;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
ul{
  list-style-type: none;
}
.main{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen*/
@media (min-width:768px){
  .main{
    width: 750px;

  }
}
/* medium*/
@media (min-width:992px){
  .main{
    width :970px;
  }
}
  /*larg*/
  @media(min-width:1200px){
    .main{
      width:1170px;
    }
  }

/*end role*/
/*header*/
.over{
  background:url("../../project/img/90.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 900px;
  position: absolute;
  top: 0px;
  left: 0px;
}
header .main{
  background-image: url("../../project/img/cover.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  height: 900px;
  width: 100%;
  padding: 0px;
  margin: auto;
  position: relative;
  min-height: 97px;
}
.nav .toggle-menu{
  color: #7d445b;
  font-size:22px;

}
@media(min-width:768px){
  .nav .toggle-menu{
    display: none;
  }
}
.logo img{
  position: absolute;
    top: 12px;
}
.nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background: #7d445b;
  width: 50%;
  border: 2px solid none;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 500px;
}
.nav ul{
  list-style: none;
  display: flex;
}
@media(max-width:767px){
  .nav ul{
    display: none;
  }
}
.nav .toggle-menu:hover + ul{
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 100%;
  left :0;
  width :100%;
  background-color:#eee0c4;

}
nav ul li{
  padding: 20px 10px;
  
}
 a{
   color: #eee0c4;
   font-size: 20px;
    text-decoration: none!important;
    padding: 54px;
    transition: 0,3s;
}
.htxt{
  float: right;
  position: absolute;
  top: 240px;
  left: 979px;
}
h1{
  color: #7d445b;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  font-size: 3em;
}
h2{
  color: #7d445b;
font-size: 28px;
font-weight: 300;
margin: 0px;
  padding-left: 40px;
}
/*section 1*/
.heading .change-background{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #7d445b;
}
.heading .fa-angle-left{
  left: 30px;
  font-size: 6em;
}
.heading .fa-angle-right{
  right: 30px;
  font-size: 6em;
}
.heading{
  background: url("../../project/img/.png");
  text-align: center;
   margin: 70px;
   position: relative;
}
.heading h1 {
  font-size: 4em;
  font-weight: bold;
}
.heading h4{
  font-size: 4em;
    color: #7d445b;
    margin: 10px;
    font-weight: lighter;
}
.heading h6{
  font-size: 3em;
  color: #7d445b;
  margin: 10px;
  font-weight: lighter;
}
/*sectiont 2*/
.sec2{
  background: url("../../project/img/5.png");
  width: 100%;
    height: 1195px;
    background-size: cover;
    background-repeat: no-repeat;
}
.txt{
  background-image: url("../../project/img/5-2.png");
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.txt h3{
  font-size: 5em;
    color: #7d445b;
    font-weight: 700;
    margin: 0px 0px 0px 70px;
}
.txt h6{
  font-size: 3em;
    margin: 0px 0px 0px 68px;
    padding: 0px;
    color: #7d445b;
    font-weight: 400;
}
.txt h4{
  margin: 66px 0px 0px 70px;
  font-size: 4em;
  font-weight: 500;
  padding: 0px;
  color: #7d445b;
}
.txt p{
  font-size: 2em;
  margin: 0px 0px 0px 70px;
}
/* section3*/
.sec3{
  background: url("../../project/img/7.png");
  width: 100%;
    height: 1195px;
    background-size: cover;
    background-repeat: no-repeat;
}
.frd{
  background-image: url("../../project/img/3-1.png");
  width: 100%;
  height: 1200px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.txtfrd{
  text-align: right;
  margin: 12px 35px 0px 0px;
}
.txtfrd h2{
  font-size: 5em;
  font-weight: 600;
}
.txtfrd h3{
  font-size: 73px;
  margin:0px 0px 90px 0px;
    font-weight: 100;
}
.txtfrd h4{
  font-size: 58px;
  font-weight: 500;
  margin: 0px;
}
.txtfrd h6{
  font-size: 26px;
  font-weight: 500;
  margin: 0px 0px 50px;
}
.txtfrd button{
  width: 10%;
  border: 5px solid #7d445b;
  background: #f6eacb;
  border-radius: 32px;
  padding: 9px;
  font-size: 25px;
  color: #7d445b;
  font-weight: 500;
}
/*section 4*/
.sec4{ 
  background-image: url("../../project/img/9.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
}
.oversec{
  background-image: url("../../project/img/4-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px; 
}
.oversec h3{
  font-size: 3em;
  margin: 70px 0px 0px 68px;
  padding: 0px;
  font-weight: bold;
}
.oversec h5{
  font-size: 2em;
  font-weight: 200;
  padding: 0px 0px 0px 65px;
  margin: 0px;
}
.oversec p{
  font-size: 2em;
    margin: 36px 0px 0px 70px;
    font-weight: 100;
}
.oversec h2{
  font-size: 6em;
    font-weight: bold;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 61px;
}
.oversec h4{
  padding: 0px 0px 0px 70px;
  font-size: 68px;
  font-weight: 100;
  margin: 0px 0px 0px 0px;
}
/*section 5*/
.about{
  width: 100%;
  height: 339px;
  background-image: url(../../project/img/119.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.info{
  text-align: center;
  margin: 50px;
}
.info h1{
  font-size: 6em;
  font-weight: lighter;
}
.info h2{
  font-size: 2em;
    font-weight: 800;
}
.info h3{
  font-size: 2em;
  font-weight: 900;
  margin: 20px;
}
.about h3{
  font-size: 3em;
  font-weight: 100;
}
#text-slider
{
    height: 300px;
}
#text-slider
{
	margin: auto;
	overflow: hidden;
	background:#f6eacb;
	position: relative;
	max-width: 600px;
}
#text-slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}
#text-slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
     font-family: century gothic;
     color: #666;
}
.text-slider-container
{
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  margin-top: 82px;
}
.text-slider-container h4
{
  font-family: 'Work sans', sans-serif;
 	color:#7d445b;
  font-weight:400;
  font-size: 3em;
}
.text-slider-container  p
{
  text-indent: 40px;
	font-family: 'Questrial', sans-serif;
	font-size: 2em;
	color: #7d445b;
	line-height: 200%;
	margin:0 auto 0 auto;
	margin: 10px 25px;
	text-align: center
  ;
}
@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}
 
#text-slider ul
{
         animation: slide-animation 25s infinite;
	-webkit-animation: slide-animation 25s infinite;
}
/* use to pause the content on mouse over */
#text-slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
/*section6*/
.secback{

  background-image: url(../../project/img/10.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 1075px;
  margin: 119px 0px 0px 0px;
  position: relative;
  }
  .overstion{
    background-image: url(../../project/img/3-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
    margin: 0px 0px;
  }
  .secback h2{
    position: absolute;
    top: 100px;
    left: 67%;
    font-size: 4em;
    font-weight: 600;
  }
  .secback h3{
    position: absolute;
    top: 179px;
    left: 71%;
    font-size: 3em;
    font-weight: 100;
  }
  .secback p{
    position: absolute;
    top: 270px;
    left: 60%;
    font-size: 47px;
    font-weight: 100;
  }
  .secback h5{
    position: absolute;
      top: 338px;
      left: 75%;
      font-size: 3em;
      font-weight: 100;
  }
/*section7*/
#holday{
  text-align: center;
  margin: 107px 0px 0px 0px;
  padding: 50px 0px 0px 0px;
}
#holday h2{
  font-size: 5em;
}
#holday h4{
  font-size: 2em;
  font-weight: 100;
  margin: 14px 0px 45px 0px;
}
form {
  text-align: center;
}

input[type=text], input[type=number],input[type=testuare],textarea {
  width: 50%;
  padding: 25px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #7d445b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #7d445b!important;
}


button {
  background-color: #ffffff;
  color: #7d445b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 11%;
  border: 1px solid #7d445b;
  /* color: #f6eacb; */
  border-radius: 50px;
  /* margin: 2px 49px 0px 321px; */
  float: right;
  margin: 0px 423px 0px 0px;
}

button:hover {
  opacity: 0.8;
}
.fom {
  text-align: center;
  width: 100%;
}
.fom img{
  float: left;
    margin: -131px 0px 0px 162px;
}
.fom h3{
  font-size: 4em;
  margin: auto;
}
.fom p{
  font-size: 2em;
    font-weight: 100;
    margin: 0px 589px 0px 0px;
}
/*section 8*/
.sec8{
  background-image: url(../../project/img/13.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
  margin: 119px 0px 0px 0px;
  position: relative;
}
.overlay{
  background-image: url(../../project/img/8-1.png);
  background-size: 57%;
  background-repeat: no-repeat;
  width: 91%;
  height: 1294px;
  margin: 0px -88px;
}
.sec8 h2{
  position: absolute;
    top: 265px;
    left: 9%;
    font-size: 4em;
    font-weight: 600;
}
.sec8 h4{
  position: absolute;
    top: 338px;
    left: 12%;
    font-size: 3em;
    font-weight: 100;
}

/*footer*/
footer{
  text-align: center;
  margin-top: 80px;
  height: 320px;
}
.fot{
  margin: 70px;
}
.fot p{
  font-size: 2em;
  font-weight: 100;
}
.par{
  margin: 150px 0px 0px 0px;
}
.par p{
  font-size: 24px;
  
}
.soical{
  margin: 132px 60px 0px 0px;
}
.soical p{
  font-size: 22px;
  text-align: right;
}
.soical ul{
  text-align: right;
}
.soical ul li a{
  color: #7d445b;
  font-size: 26px;
  
}
.icon{
  font-size: 3em!important;
  background: #7d445b;
  color: #f6eacb;
  border: 0px solid;
  margin:15px 10px 0px 0px;
  padding: 10px;
  width: 68px;
  border-radius: 50%;
}